<div id="canvasContainer"></div>

<!-- Button to toggle Earth's trajectory visibility -->
<button (click)="toggleEarthTrajectory()">Afficher/Cacher la trajectoire de la Terre</button>
<!-- Button to toggle Mars' trajectory visibility -->
<button (click)="toggleMarsTrajectory()">Afficher/Cacher la trajectoire de Mars</button>
<button (click)="toggleJupiterOrbit()">Afficher/Cacher l'orbite de Jupiter</button>


<!-- Optional: Add zoom buttons -->
<button (click)="zoomIn()">Zoom In</button>
<button (click)="zoomOut()">Zoom Out</button>
